<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl-NL">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Doctrine Migrations for web</title>
        <style>
* { padding: 0; margin: 0; }
body { font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 1.0rem; background-color: #EFEFEF; }
.document { max-width: 700px; border: 1px solid #D0D0D0; background-color: #FFFFFF; margin: 20px auto; padding: 20px; border-radius: 2px; }
.document a { color: #0000FF; }
.document button { background-color: #3587D1; color: #FFFFFF; font-size: 1.0rem; border: 0 none; padding: 5px 10px; cursor: pointer; }
.document button:hover { background-color: #24809E; }
.document h1 { font-weight: normal; font-size: 2.5rem; color: #24809E; }
.document h2 { font-weight: normal; font-size: 1.25rem; color: #1B44D1; margin-top: 30px; }
.document h3 { font-weight: normal; font-size: 1.00rem; color: #3587D1; margin-top: 15px; }
.document pre { background-color: #EFEFEF; padding: 10px; overflow-x: scroll; margin: 10px 0; }
.document p { margin: 10px 0; }
.document table { width: 100%; border-collapse: collapse; }
.document table thead tr th { color: #1B44D1; text-align: left; font-weight: normal; border-bottom: 2px solid #D0D0D0; padding: 5px; }
.document table tbody tr td { padding: 5px; }
.document ul { margin: 10px 40px 0 40px; }
        </style
    </head>
    <body>
        <div class="document">{% block document %}{% endblock %}</div>
    </body>
</html>